name: "release"

on:
  push:
    branches:
      - main

jobs:
  build-release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest"
            args: "--target aarch64-apple-darwin"
          - platform: "macos-latest"
            args: "--target x86_64-apple-darwin"
          - platform: "ubuntu-latest"
            args: ""
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    environment: production

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm

      - name: Create environment
        run: |
          cat << EOF > .env
          PG_HOST=${{ secrets.PG_HOST }}
          PG_PORT=${{ secrets.PG_PORT }}
          PG_USER=${{ secrets.PG_USER }}
          PG_PASSWORD=${{ secrets.PG_PASSWORD }}
          PG_DATABASE=${{ secrets.PG_DATABASE }}
          VITE_DATA_URL=${{ secrets.VITE_DATA_URL }}
          VITE_DATA_PORT=${{ secrets.VITE_DATA_PORT }}
          VITE_DATA_PATH_TRPC=${{ secrets.VITE_DATA_PATH_TRPC }}
          VITE_DATA_PATH_AUTH=${{ secrets.VITE_DATA_PATH_AUTH }}
          VITE_WEB_URL=${{ secrets.VITE_WEB_URL }}
          VITE_WEB_PORT=${{ secrets.VITE_WEB_PORT }}
          AUTH_GITHUB_CLIENT=${{ secrets.AUTH_GITHUB_CLIENT }}
          AUTH_GITHUB_SECRET=${{ secrets.AUTH_GITHUB_SECRET }}
          AUTH_GOOGLE_CLIENT=${{ secrets.AUTH_GOOGLE_CLIENT }}
          AUTH_GOOGLE_SECRET=${{ secrets.AUTH_GOOGLE_SECRET }}
          EOF

      - name: Install packages
        run: npm ci

      - name: Generate tag name
        id: tag_name
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          tagName: ${{ steps.tag_name.outputs.sha_short }}
          projectPath: ./apps/tauri
          releaseName: ${{ steps.tag_name.outputs.sha_short }}
          releaseBody: macOS, Linux, and Windows builds are available to download. Mobile must be built from source.
          prerelease: true
          includeUpdaterJson: 'true'
          args: ${{ matrix.args }}
